# AWS Configuration
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=us-east-1
S3_BUCKET=instacart-lakehouse-xxxx

# MongoDB Configuration (Docker)
MONGODB_URI=mongodb://admin:admin123@localhost:27017/
MONGODB_DATABASE=instacart_metadata

# S3 Paths
S3_RAW_PATH=s3a://instacart-lakehouse-xxxx/raw/instacart
S3_BRONZE_PATH=s3a://instacart-lakehouse-xxxx/bronze
S3_SILVER_PATH=s3a://instacart-lakehouse-xxxx/silver
S3_GOLD_PATH=s3://instacart-lakehouse-xxxx/gold

# Warehouse API
API_HOST=0.0.0.0
API_PORT=8000
